@media screen and (max-width: 480px){
    nav{
        justify-content: center;
        padding-left: 0;
    }
    nav>ul{
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }
    nav>ul>li{
        background-color: #B3A0CD;
        width: 100%;

        display: flex;
        justify-content: center;

        border-radius: 5px;

    }
    nav>ul>li>a{
        padding: 5px;
    }
    header{

        justify-content: center;
        align-items: center;

        margin-bottom: 0;

        border-radius: 5px;

    }
    main div{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    main>div:first-child>section:first-child{
        width: 100%;
        justify-content: center;
        align-items: center;

        border-radius: 5px;

    }

    main>div:first-child>section:last-child{
        width: 100%;
        justify-content: center;
        align-items: center;

        border-radius: 5px;
    }

    main>div:last-child>section:first-child{
        width: 100%;
        justify-content: center;
        align-items: center;

        border-radius: 5px;
    }

    main>div:last-child>section:last-child{
        width: 100%;
        justify-content: center;
        align-items: center;

        border-radius: 5px;
    }

    footer{
        border-radius: 5px;
    }



}