@media screen and (max-width: 480px) {
    div{
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        'header'
        'section'
        'artl1'
        'artl2'
        'footer'
    ;
    }

}