@import url('https://fonts.googleapis.com/css2?family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    background: #F7F6F4;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}
/*-------------------navigation bar-----------------------*/
nav{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 186px;

}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 40px;

    padding-top: 42px;
}
nav ul li{
    list-style-type: none;

    position: relative;
}
nav ul li a{
    text-decoration: none;

    color: #333;
    font-family: Taviraj, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.4px;

    display: block;
}

nav>div{
    padding-top: 42px;
}
.dropdown{
    display: none;
    position: absolute;
    padding: 15px 41px 23px 20px;
    background: rgba(255, 255, 255, 0.70);
}
.dropdown a {
    display: block;

    color: #333;
    font-family: Taviraj, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.4px;
}
nav>ul>li:nth-child(3):hover .dropdown{
    display: block;
}

/*-------------------section1-------------------------*/

.box-1{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 1110px;
    height: 505px;
    flex-shrink: 0;

    background: #F1DDC9;

    margin-top: 90px;

    gap: 56px;
}
.box-1>div{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    flex-direction: column;

}
.box-1>div>h2{
    color: #333;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px; /* 133.333% */
    letter-spacing: 1.2px;

    width: 413px;
    height: 160px;
}
.box-1>div>p{
    width: 529px;

    color: #333;
    font-family: Nunito, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;

    margin-top: 32px;
    margin-bottom: 79px;
}
.box-1>div>button{
    font-family: Taviraj, sans-serif;
    font-size: 20px;
    color: white;

    width: 208px;
    height: 62px;

    background: #D84727;

    border-style: none;
}

/*------------------section2------------------------*/
.box-2{
    width: 1110px;
}
.box-2>h3{
    color: #333;
    font-family: Taviraj, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;

    margin-bottom: 129px;
    margin-top: 79px;
}
.box-2>div{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.box-2>div>div{
    width: 255px;
    height: 278px;
    background: #FFF;

    margin-bottom: 132px;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    position: relative;

}
.box-2>div div img{
    position: absolute;
    top: -50px;
}
.box-2>div div h5{
    color: #333;
    font-family: Taviraj, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 133.333% */

    position: absolute;
    bottom: 32px;

    width: 207px;
}

/*-----------------section3-------------------*/
.box-3{
    width: 1110px;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    flex-direction: column;

    gap: 60px;
}
.box-3>h3{
    color: #333;
    font-family: Taviraj, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
}
.box-3>div>div>p:first-child{
    color: #777;
    font-family: Taviraj, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 0.4px;

    width: 163px;
}
.box-3>div>div>p:last-child{
    width: 350px;

    color: #333;
    font-family: Taviraj, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px; /* 133.333% */
    letter-spacing: 0.72px;

    margin-top: 16px;
}
.box-3>div{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 55px;

}
.box-3 div img{
    margin-bottom: 151px;
}

.box-3>div>div {
    margin-bottom: 222px;
}