@media screen and (max-width: 480px){

    header{
        height: 25%;
    }
    main{
        flex-direction: column;

    }
    section{
        width: 100%;
        height: 65%;
    }
    aside{
        width: 100%;
        height: 35%;
    }
}