*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: Arial, sans-serif;
}

/*---------------1 block----------------*/
.block-1{
    width: 30vw;
    height: 80vh;
    margin: 30px 0;

    border: #dddddd solid 2px;
    border-radius: 2px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
img{
    width: 15vw;
    height: 14%;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 30vw;
    height: 20%;

    gap: 5px;
}
input[type="text"], input[type="password"]{
    width: 23vw;
    height: 75%;

    background-color: #f3f3f3;
    border: #dddddd solid 2px;
    border-radius: 4px;

    padding-left: 10px;
    font-size: 18px;
    font-weight: bolder;
}
button{
    width: 23vw;
    height: 8%;

    background-color: #68c2ff;
    border-style: none;
    border-radius: 10px;

    font-size: 20px;
    color: white;
    font-weight: bold;
}
.block-1 a img{
    width: 25px;
    height: 25px;
}
.block-1 span{
    font-size: 20px;
    color: #6B6666;
    font-weight: bold;
 }

.fb{
    text-decoration: none;
    font-size: 20px;
    color: darkblue;
    font-weight: bold;
}
.pass{
    text-decoration: none;
    font-size: 15px;
    color: #000097;
    font-weight: bolder;
}
/*-------------2 block----------------*/
.block-2{
    width: 30vw;
    height: 10vh;

    border: #dddddd solid 2px;
    border-radius: 2px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    font-weight: bolder;

}
.block-2 p a{
    text-decoration: none;
    color: #1f91d5;
}