@media screen and (max-width: 480px) {

    div{
        grid-auto-columns: 1fr 1fr;
        grid-auto-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        'header header'
        'article2 article1'
        'article3 article4'
        'article5 article5'
        'footer footer'
    }


}